<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GitHub Namer</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

  <main class="main">

    <form action="" method="post" class="user-search">
      <label for="user-nickname">Write a GitHub user's nickname</label>

      <input type="text" name="user-nickname" id="user-nickname" class="user-nickname">
      <input type="submit" value="Search" class="submit-btn">
    </form>

  </main>

  <script src="assets/js/main.js"></script>
</body>

</html>